@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(assets/fonts/MaterialIcons-Regular.woff) format('woff'),
       url(assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; 
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

html, body { 
	margin: 0; 
	padding: 0; 
	height: 100%; 
	width: 100%;
	font-size: 12px;
	font-family: 'Arial';
}

#workspace{
	height: calc(100% - 32px);
	max-height: calc(100% - 32px);
	overflow: hidden; 
}

#workspace table{
	height: 100%;
	width: 100%;
}

#workspace #td_panel{
	height: 100%;
	width: 250px;
	background: #464646;
	color: #fff;
}

#workspace #td_canvas{
	height: 100%;
}

#topbar {
	background: #535353;
	color: #fff;
	border: 1px solid #282828;
	border-top: 1px solid #6a6a6a;
}

#toolbar {
	display: inline-block;
}

.menu {	
	padding: 2px 0;
	text-align: center;
}

.menu div{
	position: relative;
	display: inline-block;
}

.menu .button{
	position: relative;

	width: 30px;
	height: 25px;
	margin: 0 1px;
	padding:1px 3px;
	line-height: 18px;

	text-align: center;
	cursor: pointer;
	box-sizing: border-box;	
	border-radius: 2px;
	border:1px solid #2a2a2a;
	background: -webkit-linear-gradient(#3f3f3f, #373737);
	background: -o-linear-gradient(#3f3f3f, #373737);
	background: -moz-linear-gradient(#3f3f3f, #373737);
	background: linear-gradient(#3f3f3f, #373737); 
}

.menu .tooltip{
	position: absolute;
	background: rgba(112, 112, 112, .8);
	font-size: 10px;
	color: #fff;
	padding: 5px;
	border-radius: 2px;
	display: none;
	z-index: 10;
	text-align: center;
}

.menu .button:hover .tooltip{
	display: block;
}

.menu .button > *{
	opacity: 1;
}

.menu .button_default i{
}

.menu .button_small{
	width: 25px;
	height: 20px;
	margin: 0 1px;
	padding:0;
}

.menu .button_small i{
	font-size: 15px;
	line-height: 18px;
}

.menu .button:hover{
	border:1px solid #2a2a2a;
	background: -webkit-linear-gradient(#757575, #626262);
	background: -o-linear-gradient(#757575, #626262);
	background: -moz-linear-gradient(#757575, #626262);
	background: linear-gradient(#757575, #626262); 
}

.menu .group{
}

.menu .group .content{
	padding: 0 5px;
	border-right: 1px solid #383838;
} 

.menu .group .title{
	display: block;
	text-align: center;
	background: rgba(0, 0, 0, .2);
	line-height: 20px;
}

#td_panel h3{
	font-weight: normal;
	font-size: 12px;
	padding: 0;
	margin: 0;
	position: relative;
	text-indent: 15px;
	line-height: 30px;
	height: 30px;
	box-sizing: border-box;	
	border: 1px solid #282828;
	border-top: 1px solid #707070;
}

#td_panel h3:before{
	position: absolute;
	background: #d91111;
	content: '';
	left: 0;
	display: inline-block;
	height: 100%;
	width: 3px;
}

#list_objects{
	overflow-y: scroll; 
	height: calc(50% - 30px);
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;	
	border: 1px solid rgba(0, 0, 0, .5);
	border-right: 0;
}

#list_objects li {
	line-height: 25px;
	text-indent: 10px;
	font-size: 10px;
}

#list_objects>li {
	border:1px solid #333;
}

#list_objects .wrap{
	position: relative;
	border-top:1px solid #333;
	background: #535353;
	display: block;
	height: auto;
}

#list_objects .wrap .btn_view{
	float: left;
	box-sizing: border-box;	
	font-size: 14px;
	margin: 0;
	padding: 0;
	text-indent: 0;
	display: inline-block;
	line-height: 25px;
	margin-left: 10px;
}

#list_objects .caption {
	border-left: 1px solid #333;
	position: relative;
	cursor: pointer;
	box-sizing: border-box;	
	display: inline-block;
	width: 85%;
}

#list_objects .caption i {
	opacity: .3;
	position: absolute;
	right: 0;
}

#list_objects .caption:hover, #list_objects .selected > .wrap > .caption{
	background: #6d7d92
}

#list_objects ul {
	list-style: none;
	padding: 0 0 0 0;
}

#list_objects ul li{
}

#list_objects .sub_0{
	padding-left: 10px;
}

#list_objects .sub_1{
	padding-left: 20px;
}

#list_objects .sub_2{
	padding-left: 30px;
}

#tool_properties{
	display: inline-block;
	float: right;
}

.properties_container{
}

.properties_container_horizontal{
	padding: 3px 0;
}
.properties_container_horizontal > div{
	position: relative;
 }

.properties_container_horizontal .input{
	border-bottom: 1px solid #6d6d6d;
}

.properties_container_vertical{
	height: calc(50% - 30px);
	overflow-y: scroll; 	
	border: 1px solid rgba(0, 0, 0, .5);
	border-right: 0;	
}

.properties_container_vertical table{
	width: 100%;
    border-spacing: 0;
    font-size: 11px;
}

.properties_container table tr td{
	line-height: 30px;
	border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.properties_container table tr td.caption{
	padding: 0 5px 0 10px;
}

.properties_container table tr td.field{
	padding: 0 5px 0 0;
}

.properties_container input, .properties_container select{
    font-size: 11px;
	box-sizing: border-box;	
	border: 0;
	padding: 0;
	margin: 0;
	border:1px solid rgba(0, 0, 0, .3);
	color: #fff;
	padding: 2px 5px;
	text-align: center;
	background: -webkit-linear-gradient(#373737, #3a3a3a);
	background: -o-linear-gradient(#373737, #3a3a3a);
	background: -moz-linear-gradient(#373737, #3a3a3a);
	background: linear-gradient(#373737, #3a3a3a); 
}

.properties_container_vertical .input{
	padding: 0 10px;
}

.properties_container_vertical .input *{
	width: 100%;
}

.properties_container_horizontal .input *{
	width: 50px;
}

.properties_container_horizontal .field{
	display: inline-block;
	margin-right: 15px;
}

.properties_container_horizontal .field .caption{
	padding: 0 10px;
}

.properties_container_horizontal .field div{
	display: inline-block;
}