@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(mdl/icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

html, body { 
	margin:0; 
	padding:0; 
	height:100%; 
	width: 100%;
	font-size:12px!important;
}

canvas{
	width: 100%;
	height: 100%;
}

.mdl-grid{
	margin: 0!important;
	padding: 0!important;
}

#div_properties table{
	display: none;
}

#workspace{
	height: calc(100% - 70px);
	max-height: calc(100% - 70px);
	overflow: hidden; 
}

#workspace table{
	height: 100%;
}

#td_panel{
	background: red;
	height: 100%;
	width: 20%;
}
#td_canvas{
	width: 80%;
	height: 100%;
}

.panel {
	box-sizing: border-box;
}

#panel_bodies{
	height: 100%;
	width: 100%;
}

#panel_tools {
	height: 70px;
}

#panel_info{
	height: 30px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	background: rgba(83, 83, 83, .7);
}

#panel_info .mdl-cell{
	text-align: right;
}

.panel{
	font-size:12px!important;
	font-weight: normal;
	background: #535353;
	color: #fff;
	display: block;
	border: 1px solid rgba(0 , 0, 0, .7);
}

.panel span{
	display: block;
}

.panel span:hover{
	background: rgba(250, 250, 250, .1);
}

.panel .item {
	display: block;
	border-bottom: 1px solid rgba(250, 250, 250, .4);
	position: relative;
	padding-left: 5px;
}

.panel .item:before{
	content: '';
	left: 0;
	position: absolute;
	height: 100%;
	background: rgba(250, 0, 0, .8);
	width: 3px;
} 

.panel input[type=text]{
	font-size:12px!important;
	padding: 0;
	margin: 0;
	background: rgba(250, 250, 250, .1);
	height: 100%;
	text-align: center;
}

.panel select{
	border: 0;
	background: rgba(0, 0, 0, .3);
	color:#777;
}

select option { border: 0;}

.panel h1{
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
}

.panel strong{
	margin-top: 10px;
	font-weight: normal;
	display: block;
}

.panel .section{
	display: inline-block;
	border-right: 1px solid rgba(250, 250, 250, 0.2);
}

.panel .button{
	display: inline-block;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	line-height: 35px;
	width: 35px;
	text-align: center;
	border: 0;
	background: transparent;
	position: relative;
}

.panel .button_small{
	display: inline-block;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	line-height: 15px;
	width: 15px;
	text-align: center;
	border: 0;
	background: transparent;
	position: relative;	
}

.panel .button img{
	max-width: 25px;
}

.panel .button_small img{
	max-width: 10px;
}

.panel .button:hover,
.panel .button_small:hover{
	background:rgba(0, 0, 0, 0.2);
}

.panel .title{
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	background:rgba(0, 0, 0, 0.2);
	display: block;
	color: rgba(250, 250, 250, .9);
	padding:0 10px;
}


.list, .list li {
	font-size:12px!important;
	list-style: none;
	padding: 0;
	margin: 0; 
}

.list {
}

.list li{
	cursor: pointer;
}

.list .selected, .list li:hover {
	background: rgba(250, 250, 250, .2);
}

.list li strong{
	cursor: pointer;
}

#msg_log {
	background: rgba(0, 0, 0, .5);
	position: absolute;
	bottom: 30px;
	font-weight: normal;
	padding: 0 10px;
	width: 300px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	overflow-y: scroll;
}
