@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;

  src: url(assets/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(assets/fonts/MaterialIcons-Regular.woff) format('woff'),
       url(assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  display: inline-block;

  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; 
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

html, body { 
	margin: 0; 
	padding: 0; 
	
	height: 100%; 
	width: 100%;
	
	font-size: 12px;
	font-family: 'Arial';
	background: #212830;
}


#workspace{
	overflow: hidden; 
	width: 100%;
	height: calc(100% - 64px);
}

@media screen and (max-width: 600px) {
	#toolbar{
		height: 32px;
		overflow: hidden;
	}
	#workspace{
		height: calc(100% - 32px);
	}
}

#workspace #td_panel{
	width: 250px;
	position: relative;
	float: right;
	display: inline-block;
}

#workspace #td_canvas{	
	display: inline-block;
	width: calc(100% - 250px);
	height: 100%;
}

#workspace #td_canvas canvas{
	width: 100%;
	height: 100%;
}	

/**GUI STYLE**/
.gui_container {
	background: #535353;
	color: #fff;

	padding: 0 5px;
	margin: 0;


	display: block;
	box-sizing: border-box;	
}

.border{
	border: 1px solid #282828;
	border-top: 1px solid #6a6a6a;
}

.gui_container.vertical > *{
	display: block;
}

.gui_button {
	position: relative;
	display: inline-block;

	cursor: pointer;
	text-align: center;
	cursor: pointer;
	
	box-sizing: border-box;	
	padding: 2px 5px;
	margin: 0 2px;
	border:1px solid transparent;

	max-height: 30px;
	max-width: 30px;
	height: 30px;
	width: 30px;

	border-radius: 2px;
}

.gui_button img{
	margin: 0;
	max-height: 20px;
	max-width: 20px;
	
	position: relative;
	top: 50%;
	transform: translateY(-50%);;
}

.gui_button i {
	display: inline-block;
	font-size: 18px;
	line-height: 22px;
}

.gui_button:hover {
	border:1px solid #2a2a2a;

	background: -webkit-linear-gradient(#757575, #626262);
	background: -o-linear-gradient(#757575, #626262);
	background: -moz-linear-gradient(#757575, #626262);
	background: linear-gradient(#757575, #626262); 
}

.gui_button.selected, .gui_button:active{
	border:1px solid #2a2a2a;

	background: -webkit-linear-gradient(#3f3f3f, #373737);
	background: -o-linear-gradient(#3f3f3f, #373737);
	background: -moz-linear-gradient(#3f3f3f, #373737);
	background: linear-gradient(#3f3f3f, #373737); 
}

.gui_tooltip{
	position: absolute;
	display: none;
	z-index: 10;
	top: 100%;
	left: 0;
	margin-top: 2px;

	color: #fff;
	background: rgba(112, 112, 112, .8);

	font-size: 10px;
	text-align: center;

	padding: 5px;
	border-radius: 2px;
}

.gui_button:hover .gui_tooltip{
	display: inline-block;
}

.gui_field{
	margin-right: 10px;
}

.gui_field label{
	padding: 0 5px;
	font-size: 11px;
}

.gui_field .input{
	border-bottom: 1px solid #696969;	
	display: inline-block;
}

.gui_field .input{
    font-size: 10px;
    line-height: 15px;
	text-align: center;
	color: #fff;

	border: 0;
	padding: 0;
	margin: 0;

	box-sizing: border-box;	
	border:1px solid rgba(0, 0, 0, .3);
	padding: 2px 5px;

	background: -webkit-linear-gradient(#373737, #3a3a3a);
	background: -o-linear-gradient(#373737, #3a3a3a);
	background: -moz-linear-gradient(#373737, #3a3a3a);
	background: linear-gradient(#373737, #3a3a3a); 

	width: 100%;
}

.gui_field input[type="checkbox"] {
	display:none;
}

.gui_field input[type="checkbox"] + label span span {
    display:inline-block;
    
    width:19px;
    height:19px;
    
    margin: -1px 4px 0 0;
    vertical-align: middle;
    
    background:url(assets/img/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}

.gui_field input[type="checkbox"]:checked + label span span {
    background:url(assets/img/check_radio_sheet.png) -19px top no-repeat;
}

.vertical_centered {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.td_0, .td_1 {
	display: inline-block;
	box-sizing: border-box;	
}

.gui_list{
	padding: 0;
}

/**CUSTOM STYLE**/

.panel_container{
	padding: 0!important;
}
.object_list{
	background: #464646!important;
	overflow-y: scroll;
}

.folder_wrap{
	background: blue;
	padding: 0;
}

.folder_wrap .gui_container{
	padding: 0;
}

.folder_wrap .gui_button{
	background: #535353;
	
	margin: 0;
	
	width: auto;
	height: auto;
	max-width: none;
	max-height: none;
	
	border-radius: 0;
	border: 1px solid #333;
	border-top: none;
}

.body_item, .shape_item {
	padding: 0;
}

.folder_wrap .btn_view{
	width: 30px;
	height: 30px;
}

.folder_wrap .btn_view i{
}

.folder_wrap .btn_body, .folder_wrap .btn_shape{
	border-left: none;
	
	height: 30px;
	width: calc(100% - 30px);
	
	text-align: left;
	position: relative;
}

.btn_shape{
	text-indent: 5px;
}

.btn_body.selected, .btn_shape.selected{
	background: #6d7d92;
}

.object_properties{
	padding: 5px 0;
}

.object_properties .gui_field{
	margin: 5px 0;
}

.object_properties .gui_field label{
	text-align: left;
}

#toolbar .gui_field .input{
	width: 50px;
}